# Membuat data kelas dengan tipe data dictionary

In [2]:
import pandas as pd

In [3]:
data = {'NPM': [184220001,184220002,184220003,184220004,184220005,184220007,184220008,184220010,184220011,184220012,
               184220013,184220015,184220019,184220021,184220022,184220023,184220024,184220025,184220026,184220027,
               184220028,184220029,184220030,184220031,184220032,184220033],
    
       'Nama': [' Mhd. Haikal Baihaqi',' Gilang Al-Raffi','Siti Salwa Azzahra','Maria Bernadina B. Cintany Lustin',
                 'Muhamad Rafif Al-Hafizh','Paulina Bota Kolin','L.M.Aznur Syahfajar','Mylo Aleffa Rahman',
                 'Sabrina Nur Anisah','Muhammad Vito Aristawidya','Firna Ulfiani R','Muhammad Reefy Hidayatullah',
                 'Aulia Rahmadiva Wardana','Maysa Zaidee Aulia','NAUFAL PANJI PURNOMO','Salsa Paringga Pangestu Ningsih',
                 'Nita Sawalia Fitri','Christopher Damar Nugroho Amizeno Ranga Sogen','Fahriza Aulia Rahman','Ridla Ashrina',
                 'Gabriella Mustika Anugraheni','Thiodas Heni Pakpahan','Aldi Daim Fauzan','NASYWA NUR HANDAYANI',
                 'Yusuf','Raditio Ananto Hargiyanto']}

df = pd.DataFrame(data)

In [4]:
df

          NPM                                           Nama
0   184220001                            Mhd. Haikal Baihaqi
1   184220002                                Gilang Al-Raffi
2   184220003                             Siti Salwa Azzahra
3   184220004              Maria Bernadina B. Cintany Lustin
4   184220005                        Muhamad Rafif Al-Hafizh
5   184220007                             Paulina Bota Kolin
6   184220008                            L.M.Aznur Syahfajar
7   184220010                             Mylo Aleffa Rahman
8   184220011                             Sabrina Nur Anisah
9   184220012                      Muhammad Vito Aristawidya
10  184220013                                Firna Ulfiani R
11  184220015                    Muhammad Reefy Hidayatullah
12  184220019                        Aulia Rahmadiva Wardana
13  184220021                             Maysa Zaidee Aulia
14  184220022                           NAUFAL PANJI PURNOMO
15  184220023                Salsa Paringga Pangestu Ningsih
16  184220024                             Nita Sawalia Fitri
17  184220025  Christopher Damar Nugroho Amizeno Ranga Sogen
18  184220026                           Fahriza Aulia Rahman
19  184220027                                  Ridla Ashrina
20  184220028                   Gabriella Mustika Anugraheni
21  184220029                          Thiodas Heni Pakpahan
22  184220030                               Aldi Daim Fauzan
23  184220031                           NASYWA NUR HANDAYANI
24  184220032                                          Yusuf
25  184220033                      Raditio Ananto Hargiyanto

# Upload file csv

In [6]:
# df = data frame
df = pd.read_csv("Data Kelas Sains Data.csv")

In [7]:
df

          NPM                                           NAMA
0   184220001                            Mhd. Haikal Baihaqi
1   184220002                                Gilang Al-Raffi
2   184220003                             Siti Salwa Azzahra
3   184220004              Maria Bernadina B. Cintany Lustin
4   184220005                        Muhamad Rafif Al-Hafizh
5   184220007                             Paulina Bota Kolin
6   184220008                            L.M.Aznur Syahfajar
7   184220010                             Mylo Aleffa Rahman
8   184220011                             Sabrina Nur Anisah
9   184220012                      Muhammad Vito Aristawidya
10  184220013                                Firna Ulfiani R
11  184220015                    Muhammad Reefy Hidayatullah
12  184220019                        Aulia Rahmadiva Wardana
13  184220021                             Maysa Zaidee Aulia
14  184220022                           NAUFAL PANJI PURNOMO
15  184220023                Salsa Paringga Pangestu Ningsih
16  184220024                             Nita Sawalia Fitri
17  184220025  Christopher Damar Nugroho Amizeno Ranga Sogen
18  184220026                           Fahriza Aulia Rahman
19  184220027                                  Ridla Ashrina
20  184220028                   Gabriella Mustika Anugraheni
21  184220029                          Thiodas Heni Pakpahan
22  184220030                               Aldi Daim Fauzan
23  184220031                           NASYWA NUR HANDAYANI
24  184220032                                          Yusuf
25  184220033                      Raditio Ananto Hargiyanto

# Menambah data label

In [8]:
df['DOMISILI'] = ['Sumatra Utara', 'Jawa Barat', 'Jawa Barat','NTT','Jawa Barat','NTT',
                 'Sulawesi Tenggara','Jawa Barat','Jawa Timur','Sumatra Barat','Jawa Timur',
                 'Jawa Barat','Kalimantan Tengah','Bali','Jawa Tengah','Jawa Tengah','Jawa Barat',
                 'Jawa Tengah','Jawa Barat','Jawa Barat','Jawa Barat','Sumatra Utara','Jawa Barat','Jawa Barat','Jawa Barat',
                 'Jawa Barat']

Penambahan dengan cara diatas akan menambah data pada akhir label

In [9]:
df

,NPM,NAMA,DOMISILI
0,184220001,Mhd. Haikal Baihaqi,Sumatra Utara
1,184220002,Gilang Al-Raffi,Jawa Barat
2,184220003,Siti Salwa Azzahra,Jawa Barat
3,184220004,Maria Bernadina B. Cintany Lustin,NTT
4,184220005,Muhamad Rafif Al-Hafizh,Jawa Barat
5,184220007,Paulina Bota Kolin,NTT
6,184220008,L.M.Aznur Syahfajar,Sulawesi Tenggara
7,184220010,Mylo Aleffa Rahman,Jawa Barat
8,184220011,Sabrina Nur Anisah,Jawa Timur
9,184220012,Muhammad Vito Aristawidya,Sumatra Barat
10,184220013,Firna Ulfiani R,Jawa Timur
11,184220015,Muhammad Reefy Hidayatullah,Jawa Barat
12,184220019,Aulia Rahmadiva Wardana,Kalimantan Tengah
13,184220021,Maysa Zaidee Aulia,Bali
14,184220022,NAUFAL PANJI PURNOMO,Jawa Tengah
15,184220023,Salsa Paringga Pangestu Ningsih,Jawa Tengah
16,184220024,Nita Sawalia Fitri,Jawa Barat
17,184220025,Christopher Damar Nugroho Amizeno Ranga Sogen,Jawa Tengah
18,184220026,Fahriza Aulia Rahman,Jawa Barat
19,184220027,Ridla Ashrina,Jawa Barat
20,184220028,Gabriella Mustika Anugraheni,Jawa Barat
21,184220029,Thiodas Heni Pakpahan,Sumatra Utara
22,184220030,Aldi Daim Fauzan,Jawa Barat
23,184220031,NASYWA NUR HANDAYANI,Jawa Barat
24,184220032,Yusuf,Jawa Barat
25,184220033,Raditio Ananto Hargiyanto,Jawa Barat

Penambahan data dibawah ini akan menambah data sesuai yang kita inginkan sesuai index
*Bisa diantara dua data yang sudah ada*

Dibawah ini label GENDER ditambahkan diantara NAMA dan DOMISILI

In [10]:
df.insert(2, 'GENDER', ['Pria','Pria','Wanita','Wanita','Pria','Wanita','Pria','Pria',
                       'Wanita','Pria','Wanita','Pria','Wanita','Wanita','Pria','Wanita',
                       'Wanita','Pria','Pria','Wanita','Wanita','Wanita','Pria','Wanita','Pria','Pria'])

In [11]:
df

,NPM,NAMA,GENDER,DOMISILI
0,184220001,Mhd. Haikal Baihaqi,Pria,Sumatra Utara
1,184220002,Gilang Al-Raffi,Pria,Jawa Barat
2,184220003,Siti Salwa Azzahra,Wanita,Jawa Barat
3,184220004,Maria Bernadina B. Cintany Lustin,Wanita,NTT
4,184220005,Muhamad Rafif Al-Hafizh,Pria,Jawa Barat
5,184220007,Paulina Bota Kolin,Wanita,NTT
6,184220008,L.M.Aznur Syahfajar,Pria,Sulawesi Tenggara
7,184220010,Mylo Aleffa Rahman,Pria,Jawa Barat
8,184220011,Sabrina Nur Anisah,Wanita,Jawa Timur
9,184220012,Muhammad Vito Aristawidya,Pria,Sumatra Barat
10,184220013,Firna Ulfiani R,Wanita,Jawa Timur
11,184220015,Muhammad Reefy Hidayatullah,Pria,Jawa Barat
12,184220019,Aulia Rahmadiva Wardana,Wanita,Kalimantan Tengah
13,184220021,Maysa Zaidee Aulia,Wanita,Bali
14,184220022,NAUFAL PANJI PURNOMO,Pria,Jawa Tengah
15,184220023,Salsa Paringga Pangestu Ningsih,Wanita,Jawa Tengah
16,184220024,Nita Sawalia Fitri,Wanita,Jawa Barat
17,184220025,Christopher Damar Nugroho Amizeno Ranga Sogen,Pria,Jawa Tengah
18,184220026,Fahriza Aulia Rahman,Pria,Jawa Barat
19,184220027,Ridla Ashrina,Wanita,Jawa Barat
20,184220028,Gabriella Mustika Anugraheni,Wanita,Jawa Barat
21,184220029,Thiodas Heni Pakpahan,Wanita,Sumatra Utara
22,184220030,Aldi Daim Fauzan,Pria,Jawa Barat
23,184220031,NASYWA NUR HANDAYANI,Wanita,Jawa Barat
24,184220032,Yusuf,Pria,Jawa Barat
25,184220033,Raditio Ananto Hargiyanto,Pria,Jawa Barat

Dibawah ini penambahan label UMUR diantara NAMA dan GENDER

In [12]:
df.insert(2, 'UMUR', [20,19,18,19,19,22,19,20,
                       19,19,22,19,19,19,20,19,
                       20,19,19,19,19,20,20,19,19,20])

In [13]:
df

,NPM,NAMA,UMUR,GENDER,DOMISILI
0,184220001,Mhd. Haikal Baihaqi,20,Pria,Sumatra Utara
1,184220002,Gilang Al-Raffi,19,Pria,Jawa Barat
2,184220003,Siti Salwa Azzahra,18,Wanita,Jawa Barat
3,184220004,Maria Bernadina B. Cintany Lustin,19,Wanita,NTT
4,184220005,Muhamad Rafif Al-Hafizh,19,Pria,Jawa Barat
5,184220007,Paulina Bota Kolin,22,Wanita,NTT
6,184220008,L.M.Aznur Syahfajar,19,Pria,Sulawesi Tenggara
7,184220010,Mylo Aleffa Rahman,20,Pria,Jawa Barat
8,184220011,Sabrina Nur Anisah,19,Wanita,Jawa Timur
9,184220012,Muhammad Vito Aristawidya,19,Pria,Sumatra Barat
10,184220013,Firna Ulfiani R,22,Wanita,Jawa Timur
11,184220015,Muhammad Reefy Hidayatullah,19,Pria,Jawa Barat
12,184220019,Aulia Rahmadiva Wardana,19,Wanita,Kalimantan Tengah
13,184220021,Maysa Zaidee Aulia,19,Wanita,Bali
14,184220022,NAUFAL PANJI PURNOMO,20,Pria,Jawa Tengah
15,184220023,Salsa Paringga Pangestu Ningsih,19,Wanita,Jawa Tengah
16,184220024,Nita Sawalia Fitri,20,Wanita,Jawa Barat
17,184220025,Christopher Damar Nugroho Amizeno Ranga Sogen,19,Pria,Jawa Tengah
18,184220026,Fahriza Aulia Rahman,19,Pria,Jawa Barat
19,184220027,Ridla Ashrina,19,Wanita,Jawa Barat
20,184220028,Gabriella Mustika Anugraheni,19,Wanita,Jawa Barat
21,184220029,Thiodas Heni Pakpahan,20,Wanita,Sumatra Utara
22,184220030,Aldi Daim Fauzan,20,Pria,Jawa Barat
23,184220031,NASYWA NUR HANDAYANI,19,Wanita,Jawa Barat
24,184220032,Yusuf,19,Pria,Jawa Barat
25,184220033,Raditio Ananto Hargiyanto,20,Pria,Jawa Barat

# Menganalisis data

In [14]:
df['UMUR'].value_counts()

19    16
20     7
22     2
18     1
Name: UMUR, dtype: int64

In [15]:
df['GENDER'].value_counts()

Pria      13
Wanita    13
Name: GENDER, dtype: int64

In [16]:
df['DOMISILI'].value_counts()

Jawa Barat           13
Jawa Tengah           3
Sumatra Utara         2
NTT                   2
Jawa Timur            2
Sulawesi Tenggara     1
Sumatra Barat         1
Kalimantan Tengah     1
Bali                  1
Name: DOMISILI, dtype: int64

# Menghapus data tertentu

Pada contoh dibawah saya menghapus data label NPM

In [17]:
df1 = df.drop(['NPM'],axis='columns')
df1

,NAMA,UMUR,GENDER,DOMISILI
0,Mhd. Haikal Baihaqi,20,Pria,Sumatra Utara
1,Gilang Al-Raffi,19,Pria,Jawa Barat
2,Siti Salwa Azzahra,18,Wanita,Jawa Barat
3,Maria Bernadina B. Cintany Lustin,19,Wanita,NTT
4,Muhamad Rafif Al-Hafizh,19,Pria,Jawa Barat
5,Paulina Bota Kolin,22,Wanita,NTT
6,L.M.Aznur Syahfajar,19,Pria,Sulawesi Tenggara
7,Mylo Aleffa Rahman,20,Pria,Jawa Barat
8,Sabrina Nur Anisah,19,Wanita,Jawa Timur
9,Muhammad Vito Aristawidya,19,Pria,Sumatra Barat
10,Firna Ulfiani R,22,Wanita,Jawa Timur
11,Muhammad Reefy Hidayatullah,19,Pria,Jawa Barat
12,Aulia Rahmadiva Wardana,19,Wanita,Kalimantan Tengah
13,Maysa Zaidee Aulia,19,Wanita,Bali
14,NAUFAL PANJI PURNOMO,20,Pria,Jawa Tengah
15,Salsa Paringga Pangestu Ningsih,19,Wanita,Jawa Tengah
16,Nita Sawalia Fitri,20,Wanita,Jawa Barat
17,Christopher Damar Nugroho Amizeno Ranga Sogen,19,Pria,Jawa Tengah
18,Fahriza Aulia Rahman,19,Pria,Jawa Barat
19,Ridla Ashrina,19,Wanita,Jawa Barat
20,Gabriella Mustika Anugraheni,19,Wanita,Jawa Barat
21,Thiodas Heni Pakpahan,20,Wanita,Sumatra Utara
22,Aldi Daim Fauzan,20,Pria,Jawa Barat
23,NASYWA NUR HANDAYANI,19,Wanita,Jawa Barat
24,Yusuf,19,Pria,Jawa Barat
25,Raditio Ananto Hargiyanto,20,Pria,Jawa Barat